<%= render 'top/navbar' %>

<div class="form">
  <div class="recruit_players_page">
    <%= form_for(@recruit_player) do |f| %>
      <div class="recruit_players_page_title">
        <p>募集要項を変更する</p>
      </div>
      
      <div class="form_group">
        <%= f.label "希望場所" %>
        <%= f.text_field :place, placeholder: "例：〇〇県〇〇市〇〇庭球場　など" %>
      </div>
      
      <div class="form_group">
        <%= f.label "希望募集人数" %>
        <%= f.number_field :number %>
      </div>
      
      <div class="form_group">
        <%= f.label "希望開始時間" %><br>
        <%= f.datetime_select :start_time %>
      </div>
      
      <div class="form_group">
        <%= f.label "希望終了時間" %><br>
        <%= f.datetime_select :finish_time %>
      </div>
      
      <div class="form_group">
        <%= f.label "補足事項" %><br>
        <%= f.text_area :text, placeholder: "詳細などご自由にお書き下さい", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
      </div>
      <%= f.submit "編集する" %>
    <% end %>
    <%= link_to "トップページに戻る", root_path %>
  </div>
</div>