<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notification">
  <% case notification.action %>
  <% when "follow" then %>
    <p>
      <strong><%= link_to "#{visitor.nickname}", user_path(visitor) %></strong>さんがあなたをフォローしました。
    </p>
  <% when "like" then %>
    <p>
      <strong><%= link_to "#{visitor.nickname}", user_path(visitor) %></strong>さんが
      <strong><%= link_to "あなたの投稿", "/recruit_players/#{notification.recruit_player_id}/players_comments/new" %></strong>に
      いいねしました。
    </p>
  <% when "comment" then %>
    <p>
      <strong><%= link_to "#{visitor.nickname}", user_path(visitor) %></strong>さんが
      <strong><%= link_to "あなたの投稿", "/recruit_players/#{notification.recruit_player_id}/players_comments/new" %></strong>に
      コメントしました。
    </p>
    <p>
      「<%= notification.players_comment.text %>」
    </p>
    
  <% when "message" then %>
    <p>
      <%= link_to "#{visitor.nickname}", user_path(visitor) %>さんが
      あなたに <strong><%= link_to "メッセージ", room_path(notification.room) %></strong> を送信しました。
    </p>
    
  <% end %>
</div>